<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Sign up</div>
        <div class="panel-body">
        

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>
    
    <%= f.input :first_name %>

    <%= f.input :last_name %>

    <%= f.input :profile_name %>

    <%= f.input :password %>

    <%= f.input :password_confirmation %>
    <p></p>
    <%= f.button :submit %>
    
    <% end %>
<p></p>
    <%= render "devise/shared/links" %>
        
        </div>
      </div>
    </div>
  </div>
